In [104]:
import pandas as pd
import numpy as np

In [105]:
covid_df=pd.read_csv('C:\\Users\gupta.LAPTOP-4NJ629H5\OneDrive\Documents\italy-covid-daywise (1).csv')

In [106]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [107]:
#info -> which tells what type of data is being stored in the df for the columns

covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [108]:
covid_df.describe()   #summery of all the columns available in the data frame

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [109]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [110]:
covid_df.shape

(248, 4)

In [111]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [112]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [113]:
covid_df['new_cases'][243]   #trying to access a single record via index position

1444.0

In [114]:
covid_df.at[244,'new_cases'] #trying to access a single record via index position

1365.0

In [115]:
covid_df[['date','new_cases']]  #accesing multiple columns in data frame

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [116]:
#copy the original df into a new df variable

covid_df_copy=covid_df.copy()

In [117]:
covid_df_copy

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [118]:
covid_df_copy.loc[243]  #accessing all the columns record for a particular row id

date          2020-08-30
new_cases         1444.0
new_deaths           1.0
new_tests        53541.0
Name: 243, dtype: object

In [119]:
type(covid_df_copy.loc[243])

pandas.core.series.Series

In [120]:
covid_df_copy.head()  #initial top 5 data

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [121]:
covid_df_copy.tail()  #bottom 5 data

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [122]:
covid_df_copy.at[0,'new_tests']

nan

In [123]:
covid_df_copy.new_tests.first_valid_index() #to find the first index which doesn't consist NAN use the foll function

111

In [124]:
covid_df_copy.iloc[111]

date          2020-04-20
new_cases         3047.0
new_deaths         433.0
new_tests         7841.0
Name: 111, dtype: object

In [125]:
covid_df_copy.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0

In [126]:
covid_df_copy[['new_cases','new_tests']][10:20]

    new_cases  new_tests
10        0.0        NaN
11        0.0        NaN
12        0.0        NaN
13        0.0        NaN
14        0.0        NaN
15        0.0        NaN
16        0.0        NaN
17        0.0        NaN
18        0.0        NaN
19        0.0        NaN

In [127]:
covid_df_copy.sample(15)   #random data in dataset

           date  new_cases  new_deaths  new_tests
149  2020-05-28      584.0       117.0    39838.0
106  2020-04-15     2972.0       604.0        NaN
125  2020-05-04     1389.0       174.0    22999.0
246  2020-09-02      975.0         8.0        NaN
138  2020-05-17      875.0       153.0    33505.0
7    2020-01-07        0.0         0.0        NaN
159  2020-06-07      270.0        72.0    27894.0
179  2020-06-27      255.0        30.0    29721.0
135  2020-05-14      888.0       195.0    41131.0
167  2020-06-15      338.0        44.0    17463.0
10   2020-01-10        0.0         0.0        NaN
40   2020-02-09        0.0         0.0        NaN
75   2020-03-15     3497.0       173.0        NaN
115  2020-04-24     2646.0       464.0    95273.0
67   2020-03-07      778.0        49.0        NaN

In [128]:
total_new_cases=covid_df_copy['new_cases'].sum()
total_death=covid_df_copy['new_deaths'].sum()
total_tests=covid_df_copy['new_tests'].sum()

In [129]:
print(f'Total New cases are :- {total_new_cases}')
print(f'Total New death due to covid 19 :- {total_death}')
print(f'Total New test conducted for covid 19 :- {total_new_tests}')

Total New cases are :- 271515.0
Total New death due to covid 19 :- 35497.0
Total New test conducted for covid 19 :- 4279456.0

In [130]:
death_rate= (total_death / total_new_cases)*100

In [131]:
print('Death Rate of Italy for covid 19 is {:.2f}'.format(death_rate))

Death Rate of Italy for covid 19 is 13.07

**A total of 935310 test were conducted before daily test report were reported**

In [132]:
initial_test_done = 935310
total_test_done = total_tests + initial_test_done
total_test_done

5214766.0

In [133]:
total_new_cases

271515.0

In [134]:
positivity_rate= (total_new_cases/total_test_done)*100

In [135]:
positivity_rate

5.206657403227681

In [136]:
print('{:.2f}%'.format(positivity_rate))

5.21%

In [137]:
high_cases=covid_df_copy.new_cases>1000

In [138]:
high_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [139]:
covid_df_copy[high_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [140]:
high_case_df=covid_df_copy[covid_df_copy.new_cases>1000] #filteration technique

In [141]:
high_case_df

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [142]:
high_death_df=covid_df_copy[covid_df_copy.new_deaths>100]

In [143]:
high_death_df

           date  new_cases  new_deaths  new_tests
69   2020-03-09     1492.0       133.0        NaN
71   2020-03-11      977.0       167.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
..          ...        ...         ...        ...
144  2020-05-23      652.0       130.0    42579.0
145  2020-05-24      669.0       119.0    34206.0
149  2020-05-28      584.0       117.0    39838.0
152  2020-05-31      416.0       111.0    28948.0
229  2020-08-16      629.0       158.0    22470.0

[78 rows x 4 columns]

In [144]:
(covid_df_copy.new_cases/covid_df_copy.new_tests)*100

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
243    2.696999
244    3.205505
245    1.831051
246         NaN
247         NaN
Length: 248, dtype: float64

In [158]:
covid_df_copy['positivity rate']=(covid_df_copy.new_cases/covid_df_copy.new_tests)*100

In [146]:
covid_df_copy

           date  new_cases  new_deaths  new_tests  positivity rate
0    2019-12-31        0.0         0.0        NaN              NaN
1    2020-01-01        0.0         0.0        NaN              NaN
2    2020-01-02        0.0         0.0        NaN              NaN
3    2020-01-03        0.0         0.0        NaN              NaN
4    2020-01-04        0.0         0.0        NaN              NaN
..          ...        ...         ...        ...              ...
243  2020-08-30     1444.0         1.0    53541.0         2.696999
244  2020-08-31     1365.0         4.0    42583.0         3.205505
245  2020-09-01      996.0         6.0    54395.0         1.831051
246  2020-09-02      975.0         8.0        NaN              NaN
247  2020-09-03     1326.0         6.0        NaN              NaN

[248 rows x 5 columns]

In [147]:
covid_df_copy.sort_values('new_cases',ascending=False)  #sorting new_cases in decending order

           date  new_cases  new_deaths  new_tests  positivity rate
82   2020-03-22     6557.0       795.0        NaN              NaN
87   2020-03-27     6153.0       660.0        NaN              NaN
81   2020-03-21     5986.0       625.0        NaN              NaN
89   2020-03-29     5974.0       887.0        NaN              NaN
88   2020-03-28     5959.0       971.0        NaN              NaN
..          ...        ...         ...        ...              ...
28   2020-01-28        0.0         0.0        NaN              NaN
30   2020-01-30        0.0         0.0        NaN              NaN
32   2020-02-01        0.0         0.0        NaN              NaN
33   2020-02-02        0.0         0.0        NaN              NaN
172  2020-06-20     -148.0        47.0    29875.0        -0.495397

[248 rows x 5 columns]

In [148]:
covid_df_copy.sort_values('new_deaths',ascending=False)

           date  new_cases  new_deaths  new_tests  positivity rate
88   2020-03-28     5959.0       971.0        NaN              NaN
89   2020-03-29     5974.0       887.0        NaN              NaN
92   2020-04-01     4053.0       839.0        NaN              NaN
91   2020-03-31     4050.0       810.0        NaN              NaN
82   2020-03-22     6557.0       795.0        NaN              NaN
..          ...        ...         ...        ...              ...
34   2020-02-03        0.0         0.0        NaN              NaN
35   2020-02-04        0.0         0.0        NaN              NaN
36   2020-02-05        0.0         0.0        NaN              NaN
0    2019-12-31        0.0         0.0        NaN              NaN
177  2020-06-25      577.0       -31.0    29421.0         1.961184

[248 rows x 5 columns]

In [149]:
covid_df_copy.sort_values('new_cases',ascending=True)

           date  new_cases  new_deaths  new_tests  positivity rate
172  2020-06-20     -148.0        47.0    29875.0        -0.495397
0    2019-12-31        0.0         0.0        NaN              NaN
29   2020-01-29        0.0         0.0        NaN              NaN
30   2020-01-30        0.0         0.0        NaN              NaN
32   2020-02-01        0.0         0.0        NaN              NaN
..          ...        ...         ...        ...              ...
88   2020-03-28     5959.0       971.0        NaN              NaN
89   2020-03-29     5974.0       887.0        NaN              NaN
81   2020-03-21     5986.0       625.0        NaN              NaN
87   2020-03-27     6153.0       660.0        NaN              NaN
82   2020-03-22     6557.0       795.0        NaN              NaN

[248 rows x 5 columns]

In [150]:
covid_df_copy[160:175]

           date  new_cases  new_deaths  new_tests  positivity rate
160  2020-06-08      197.0        53.0    16301.0         1.208515
161  2020-06-09      280.0        65.0    32200.0         0.869565
162  2020-06-10      283.0        79.0    37865.0         0.747392
163  2020-06-11      202.0        71.0    32991.0         0.612288
164  2020-06-12      379.0        53.0    37651.0         1.006613
165  2020-06-13      163.0        56.0    32880.0         0.495742
166  2020-06-14      346.0        78.0    29545.0         1.171095
167  2020-06-15      338.0        44.0    17463.0         1.935521
168  2020-06-16      301.0        26.0    27762.0         1.084216
169  2020-06-17      210.0        34.0    33957.0         0.618429
170  2020-06-18      328.0        43.0    32921.0         0.996325
171  2020-06-19      331.0        66.0    28570.0         1.158558
172  2020-06-20     -148.0        47.0    29875.0        -0.495397
173  2020-06-21      264.0        49.0    24581.0         1.074000
174  2020-06-22      224.0        24.0    16152.0         1.386825

In [151]:
covid_df_copy['new_cases'].mean()

1094.8185483870968

In [152]:
covid_df_copy['new_cases'].median()

342.0

In [153]:
covid_df_copy['new_cases'].mode()

0    0.0
Name: new_cases, dtype: float64

In [154]:
covid_df_copy.iloc[172]['new_cases']=covid_df_copy['new_cases'].median()

C:\Users\gupta.LAPTOP-4NJ629H5\AppData\Local\Temp\ipykernel_16892\2774992292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df_copy.iloc[172]['new_cases']=covid_df_copy['new_cases'].median()

In [155]:
covid_df_copy.loc[172]

date               2020-06-20
new_cases              -148.0
new_deaths               47.0
new_tests             29875.0
positivity rate     -0.495397
Name: 172, dtype: object

In [156]:
covid_df_copy.loc[172,'new_cases']=covid_df_copy['new_cases'].median()

In [159]:
  covid_df_copy[160:175]

           date  new_cases  new_deaths  new_tests  positivity rate
160  2020-06-08      197.0        53.0    16301.0         1.208515
161  2020-06-09      280.0        65.0    32200.0         0.869565
162  2020-06-10      283.0        79.0    37865.0         0.747392
163  2020-06-11      202.0        71.0    32991.0         0.612288
164  2020-06-12      379.0        53.0    37651.0         1.006613
165  2020-06-13      163.0        56.0    32880.0         0.495742
166  2020-06-14      346.0        78.0    29545.0         1.171095
167  2020-06-15      338.0        44.0    17463.0         1.935521
168  2020-06-16      301.0        26.0    27762.0         1.084216
169  2020-06-17      210.0        34.0    33957.0         0.618429
170  2020-06-18      328.0        43.0    32921.0         0.996325
171  2020-06-19      331.0        66.0    28570.0         1.158558
172  2020-06-20      342.0        47.0    29875.0         1.144770
173  2020-06-21      264.0        49.0    24581.0         1.074000
174  2020-06-22      224.0        24.0    16152.0         1.386825

In [160]:
covid_df_copy.date

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [161]:
#converting object into datetime

In [162]:
covid_df_copy['date']=pd.to_datetime(covid_df_copy.date)

In [163]:
covid_df_copy['date']

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [165]:
covid_df_copy.head()

        date  new_cases  new_deaths  new_tests  positivity rate
0 2019-12-31        0.0         0.0        NaN              NaN
1 2020-01-01        0.0         0.0        NaN              NaN
2 2020-01-02        0.0         0.0        NaN              NaN
3 2020-01-03        0.0         0.0        NaN              NaN
4 2020-01-04        0.0         0.0        NaN              NaN

In [167]:
covid_df_copy['year']=pd.DatetimeIndex(covid_df_copy.date).year

In [169]:
covid_df_copy['month']=pd.DatetimeIndex(covid_df_copy.date).month

In [171]:
covid_df_copy['day']=pd.DatetimeIndex(covid_df_copy.date).day

In [175]:
covid_df_copy['weekday']=pd.DatetimeIndex(covid_df_copy.date).weekday

In [176]:
covid_df_copy

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday
0,2019-12-31,0.0,0.0,NaN,NaN,2019,12,31,1
1,2020-01-01,0.0,0.0,NaN,NaN,2020,1,1,2
2,2020-01-02,0.0,0.0,NaN,NaN,2020,1,2,3
3,2020-01-03,0.0,0.0,NaN,NaN,2020,1,3,4
4,2020-01-04,0.0,0.0,NaN,NaN,2020,1,4,5
...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2.696999,2020,8,30,6
244,2020-08-31,1365.0,4.0,42583.0,3.205505,2020,8,31,0
245,2020-09-01,996.0,6.0,54395.0,1.831051,2020,9,1,1
246,2020-09-02,975.0,8.0,NaN,NaN,2020,9,2,2
247,2020-09-03,1326.0,6.0,NaN,NaN,2020,9,3,3

In [177]:
may_data=covid_df_copy[covid_df_copy.month==5]

In [178]:
may_data

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday
122,2020-05-01,1872.0,285.0,43732.0,4.280618,2020,5,1,4
123,2020-05-02,1965.0,269.0,31231.0,6.291825,2020,5,2,5
124,2020-05-03,1900.0,474.0,27047.0,7.024809,2020,5,3,6
125,2020-05-04,1389.0,174.0,22999.0,6.039393,2020,5,4,0
126,2020-05-05,1221.0,195.0,32211.0,3.790631,2020,5,5,1
127,2020-05-06,1075.0,236.0,37771.0,2.846099,2020,5,6,2
128,2020-05-07,1444.0,369.0,13665.0,10.567142,2020,5,7,3
129,2020-05-08,1401.0,274.0,45428.0,3.084001,2020,5,8,4
130,2020-05-09,1327.0,243.0,36091.0,3.676817,2020,5,9,5
131,2020-05-10,1083.0,194.0,31384.0,3.450803,2020,5,10,6
132,2020-05-11,802.0,165.0,25823.0,3.105758,2020,5,11,0
133,2020-05-12,744.0,179.0,39620.0,1.877839,2020,5,12,1
134,2020-05-13,1402.0,172.0,37049.0,3.784178,2020,5,13,2
135,2020-05-14,888.0,195.0,41131.0,2.158956,2020,5,14,3
136,2020-05-15,992.0,262.0,39027.0,2.541830,2020,5,15,4
137,2020-05-16,789.0,242.0,40657.0,1.940625,2020,5,16,5
138,2020-05-17,875.0,153.0,33505.0,2.611551,2020,5,17,6
139,2020-05-18,675.0,145.0,26101.0,2.586108,2020,5,18,0
140,2020-05-19,451.0,99.0,40226.0,1.121165,2020,5,19,1
141,2020-05-20,813.0,162.0,38617.0,2.105290,2020,5,20,2
142,2020-05-21,665.0,161.0,40644.0,1.636158,2020,5,21,3
143,2020-05-22,642.0,156.0,42987.0,1.493475,2020,5,22,4
144,2020-05-23,652.0,130.0,42579.0,1.531271,2020,5,23,5
145,2020-05-24,669.0,119.0,34206.0,1.955797,2020,5,24,6
146,2020-05-25,531.0,50.0,20676.0,2.568195,2020,5,25,0
147,2020-05-26,300.0,92.0,33944.0,0.883809,2020,5,26,1
148,2020-05-27,397.0,78.0,37299.0,1.064372,2020,5,27,2
149,2020-05-28,584.0,117.0,39838.0,1.465937,2020,5,28,3
150,2020-05-29,593.0,70.0,38233.0,1.551016,2020,5,29,4
151,2020-05-30,516.0,87.0,36051.0,1.431306,2020,5,30,5
152,2020-05-31,416.0,111.0,28948.0,1.437060,2020,5,31,6

In [179]:
may_matrix=may_data[['new_cases','new_deaths','new_tests']]

In [180]:
may_matrix

     new_cases  new_deaths  new_tests
122     1872.0       285.0    43732.0
123     1965.0       269.0    31231.0
124     1900.0       474.0    27047.0
125     1389.0       174.0    22999.0
126     1221.0       195.0    32211.0
127     1075.0       236.0    37771.0
128     1444.0       369.0    13665.0
129     1401.0       274.0    45428.0
130     1327.0       243.0    36091.0
131     1083.0       194.0    31384.0
132      802.0       165.0    25823.0
133      744.0       179.0    39620.0
134     1402.0       172.0    37049.0
135      888.0       195.0    41131.0
136      992.0       262.0    39027.0
137      789.0       242.0    40657.0
138      875.0       153.0    33505.0
139      675.0       145.0    26101.0
140      451.0        99.0    40226.0
141      813.0       162.0    38617.0
142      665.0       161.0    40644.0
143      642.0       156.0    42987.0
144      652.0       130.0    42579.0
145      669.0       119.0    34206.0
146      531.0        50.0    20676.0
147      300.0        92.0    33944.0
148      397.0        78.0    37299.0
149      584.0       117.0    39838.0
150      593.0        70.0    38233.0
151      516.0        87.0    36051.0
152      416.0       111.0    28948.0

In [181]:
may_matrix_total=may_matrix.sum()

In [183]:
may_matrix_total

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [187]:
august_data=covid_df_copy[covid_df_copy.month==8]

In [189]:
august_data

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday
214,2020-08-01,379.0,9.0,31905.0,1.187902,2020,8,1,5
215,2020-08-02,295.0,5.0,24496.0,1.204278,2020,8,2,6
216,2020-08-03,238.0,8.0,13467.0,1.767283,2020,8,3,0
217,2020-08-04,159.0,12.0,23491.0,0.676855,2020,8,4,1
218,2020-08-05,190.0,5.0,29739.0,0.638892,2020,8,5,2
219,2020-08-06,384.0,10.0,32169.0,1.193696,2020,8,6,3
220,2020-08-07,401.0,6.0,30392.0,1.319426,2020,8,7,4
221,2020-08-08,552.0,3.0,26631.0,2.072772,2020,8,8,5
222,2020-08-09,347.0,13.0,22773.0,1.523734,2020,8,9,6
223,2020-08-10,463.0,2.0,10904.0,4.246148,2020,8,10,0
224,2020-08-11,259.0,4.0,22063.0,1.173911,2020,8,11,1
225,2020-08-12,412.0,6.0,27330.0,1.507501,2020,8,12,2
226,2020-08-13,476.0,10.0,25629.0,1.857271,2020,8,13,3
227,2020-08-14,522.0,6.0,24868.0,2.099083,2020,8,14,4
228,2020-08-15,574.0,3.0,25937.0,2.213055,2020,8,15,5
229,2020-08-16,629.0,158.0,22470.0,2.799288,2020,8,16,6
230,2020-08-17,477.0,4.0,21379.0,2.231161,2020,8,17,0
231,2020-08-18,320.0,4.0,32687.0,0.978982,2020,8,18,1
232,2020-08-19,401.0,5.0,41290.0,0.971179,2020,8,19,2
233,2020-08-20,642.0,7.0,49662.0,1.292739,2020,8,20,3
234,2020-08-21,840.0,6.0,44943.0,1.869034,2020,8,21,4
235,2020-08-22,947.0,9.0,46613.0,2.031622,2020,8,22,5
236,2020-08-23,1071.0,3.0,47463.0,2.256495,2020,8,23,6
237,2020-08-24,1209.0,7.0,33358.0,3.624318,2020,8,24,0
238,2020-08-25,953.0,4.0,45798.0,2.080877,2020,8,25,1
239,2020-08-26,876.0,4.0,58054.0,1.508940,2020,8,26,2
240,2020-08-27,1366.0,13.0,57640.0,2.369882,2020,8,27,3
241,2020-08-28,1409.0,5.0,65135.0,2.163200,2020,8,28,4
242,2020-08-29,1460.0,9.0,64294.0,2.270818,2020,8,29,5
243,2020-08-30,1444.0,1.0,53541.0,2.696999,2020,8,30,6
244,2020-08-31,1365.0,4.0,42583.0,3.205505,2020,8,31,0

In [190]:
august_matrix=august_data[['new_cases','new_deaths','new_tests']]

In [191]:
august_matrix

     new_cases  new_deaths  new_tests
214      379.0         9.0    31905.0
215      295.0         5.0    24496.0
216      238.0         8.0    13467.0
217      159.0        12.0    23491.0
218      190.0         5.0    29739.0
219      384.0        10.0    32169.0
220      401.0         6.0    30392.0
221      552.0         3.0    26631.0
222      347.0        13.0    22773.0
223      463.0         2.0    10904.0
224      259.0         4.0    22063.0
225      412.0         6.0    27330.0
226      476.0        10.0    25629.0
227      522.0         6.0    24868.0
228      574.0         3.0    25937.0
229      629.0       158.0    22470.0
230      477.0         4.0    21379.0
231      320.0         4.0    32687.0
232      401.0         5.0    41290.0
233      642.0         7.0    49662.0
234      840.0         6.0    44943.0
235      947.0         9.0    46613.0
236     1071.0         3.0    47463.0
237     1209.0         7.0    33358.0
238      953.0         4.0    45798.0
239      876.0         4.0    58054.0
240     1366.0        13.0    57640.0
241     1409.0         5.0    65135.0
242     1460.0         9.0    64294.0
243     1444.0         1.0    53541.0
244     1365.0         4.0    42583.0

In [192]:
august_matrix_total=august_matrix.sum()

In [193]:
august_matrix_total

new_cases       21060.0
new_deaths        345.0
new_tests     1098704.0
dtype: float64

In [216]:
sept_matrix=covid_df_copy[covid_df_copy.month==9][['new_cases','new_deaths','new_tests']].sum()

In [217]:
sept_matrix

new_cases      3297.0
new_deaths       20.0
new_tests     54395.0
dtype: float64

In [198]:
covid_df_copy['new_cases'].mean()

1096.7943548387098

In [ ]:
 #  0-mon ,1-tue ,2-wed ,3-thur, 4-fri ,5-sat,6-sunday

In [202]:
covid_df_copy[covid_df_copy.weekday==6]['new_cases'].mean()

1247.2571428571428

In [203]:
covid_df_copy[covid_df_copy.weekday==5]['new_cases'].mean()

1199.8

# Grouping

In [208]:
covid_df_month=covid_df_copy.groupby('month')[['new_cases','new_deaths','new_tests']].sum()

In [209]:
covid_df_month

       new_cases  new_deaths  new_tests
month
1            3.0         0.0        0.0
2          885.0        21.0        0.0
3       100851.0     11570.0        0.0
4       101852.0     16091.0   419591.0
5        29073.0      5658.0  1078720.0
6         8262.0      1404.0   830354.0
7         6722.0       388.0   797692.0
8        21060.0       345.0  1098704.0
9         3297.0        20.0    54395.0
12           0.0         0.0        0.0

In [213]:
covid_df_month_avg=covid_df_copy.groupby('month')[['new_cases','new_deaths','new_tests']].mean()

In [238]:
covid_df_month_avg

         new_cases  new_deaths     new_tests
month
1         0.096774    0.000000           NaN
2        30.517241    0.724138           NaN
3      3253.258065  373.225806           NaN
4      3395.066667  536.366667  38144.636364
5       937.838710  182.516129  34797.419355
6       275.400000   46.800000  27678.466667
7       216.838710   12.516129  25732.000000
8       679.354839   11.129032  35442.064516
9      1099.000000    6.666667  54395.000000
12        0.000000    0.000000           NaN

**To calculate the overall data for month end**

In [223]:
res=covid_df_copy

In [235]:
end_res=res[res['date'].dt.is_month_end]  #month end day covid data

In [234]:
end_res[['date','new_tests','new_cases']]

          date  new_tests  new_cases
0   2019-12-31        NaN        0.0
31  2020-01-31        NaN        3.0
60  2020-02-29        NaN      238.0
91  2020-03-31        NaN     4050.0
121 2020-04-30    41441.0     2086.0
152 2020-05-31    28948.0      416.0
182 2020-06-30    28471.0      126.0
213 2020-07-31    29686.0      382.0
244 2020-08-31    42583.0     1365.0

In [241]:
res[res['date'].dt.is_month_start]  #start month day covid data

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday
1,2020-01-01,0.0,0.0,NaN,NaN,2020,1,1,2
32,2020-02-01,0.0,0.0,NaN,NaN,2020,2,1,5
61,2020-03-01,240.0,8.0,NaN,NaN,2020,3,1,6
92,2020-04-01,4053.0,839.0,NaN,NaN,2020,4,1,2
122,2020-05-01,1872.0,285.0,43732.0,4.280618,2020,5,1,4
153,2020-06-01,355.0,75.0,18053.0,1.966432,2020,6,1,0
183,2020-07-01,142.0,23.0,29325.0,0.484228,2020,7,1,2
214,2020-08-01,379.0,9.0,31905.0,1.187902,2020,8,1,5
245,2020-09-01,996.0,6.0,54395.0,1.831051,2020,9,1,1

In [242]:
res['date'].dt.is_month_end

0       True
1      False
2      False
3      False
4      False
       ...
243    False
244     True
245    False
246    False
247    False
Name: date, Length: 248, dtype: bool

In [250]:
#pd.set_option('display.max_rows',500)   #it use for see all data values

**cumulative sum**

In [251]:
covid_df_copy['Total cases']=covid_df_copy['new_cases'].cumsum()

In [252]:
covid_df_copy

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday,Total cases
0,2019-12-31,0.0,0.0,NaN,NaN,2019,12,31,1,0.0
1,2020-01-01,0.0,0.0,NaN,NaN,2020,1,1,2,0.0
2,2020-01-02,0.0,0.0,NaN,NaN,2020,1,2,3,0.0
3,2020-01-03,0.0,0.0,NaN,NaN,2020,1,3,4,0.0
4,2020-01-04,0.0,0.0,NaN,NaN,2020,1,4,5,0.0
5,2020-01-05,0.0,0.0,NaN,NaN,2020,1,5,6,0.0
6,2020-01-06,0.0,0.0,NaN,NaN,2020,1,6,0,0.0
7,2020-01-07,0.0,0.0,NaN,NaN,2020,1,7,1,0.0
8,2020-01-08,0.0,0.0,NaN,NaN,2020,1,8,2,0.0
9,2020-01-09,0.0,0.0,NaN,NaN,2020,1,9,3,0.0
10,2020-01-10,0.0,0.0,NaN,NaN,2020,1,10,4,0.0
11,2020-01-11,0.0,0.0,NaN,NaN,2020,1,11,5,0.0
12,2020-01-12,0.0,0.0,NaN,NaN,2020,1,12,6,0.0
13,2020-01-13,0.0,0.0,NaN,NaN,2020,1,13,0,0.0
14,2020-01-14,0.0,0.0,NaN,NaN,2020,1,14,1,0.0
15,2020-01-15,0.0,0.0,NaN,NaN,2020,1,15,2,0.0
16,2020-01-16,0.0,0.0,NaN,NaN,2020,1,16,3,0.0
17,2020-01-17,0.0,0.0,NaN,NaN,2020,1,17,4,0.0
18,2020-01-18,0.0,0.0,NaN,NaN,2020,1,18,5,0.0
19,2020-01-19,0.0,0.0,NaN,NaN,2020,1,19,6,0.0
20,2020-01-20,0.0,0.0,NaN,NaN,2020,1,20,0,0.0
21,2020-01-21,0.0,0.0,NaN,NaN,2020,1,21,1,0.0
22,2020-01-22,0.0,0.0,NaN,NaN,2020,1,22,2,0.0
23,2020-01-23,0.0,0.0,NaN,NaN,2020,1,23,3,0.0
24,2020-01-24,0.0,0.0,NaN,NaN,2020,1,24,4,0.0
25,2020-01-25,0.0,0.0,NaN,NaN,2020,1,25,5,0.0
26,2020-01-26,0.0,0.0,NaN,NaN,2020,1,26,6,0.0
27,2020-01-27,0.0,0.0,NaN,NaN,2020,1,27,0,0.0
28,2020-01-28,0.0,0.0,NaN,NaN,2020,1,28,1,0.0
29,2020-01-29,0.0,0.0,NaN,NaN,2020,1,29,2,0.0
30,2020-01-30,0.0,0.0,NaN,NaN,2020,1,30,3,0.0
31,2020-01-31,3.0,0.0,NaN,NaN,2020,1,31,4,3.0
32,2020-02-01,0.0,0.0,NaN,NaN,2020,2,1,5,3.0
33,2020-02-02,0.0,0.0,NaN,NaN,2020,2,2,6,3.0
34,2020-02-03,0.0,0.0,NaN,NaN,2020,2,3,0,3.0
35,2020-02-04,0.0,0.0,NaN,NaN,2020,2,4,1,3.0
36,2020-02-05,0.0,0.0,NaN,NaN,2020,2,5,2,3.0
37,2020-02-06,0.0,0.0,NaN,NaN,2020,2,6,3,3.0
38,2020-02-07,0.0,0.0,NaN,NaN,2020,2,7,4,3.0
39,2020-02-08,0.0,0.0,NaN,NaN,2020,2,8,5,3.0
40,2020-02-09,0.0,0.0,NaN,NaN,2020,2,9,6,3.0
41,2020-02-10,0.0,0.0,NaN,NaN,2020,2,10,0,3.0
42,2020-02-11,0.0,0.0,NaN,NaN,2020,2,11,1,3.0
43,2020-02-12,0.0,0.0,NaN,NaN,2020,2,12,2,3.0
44,2020-02-13,0.0,0.0,NaN,NaN,2020,2,13,3,3.0
45,2020-02-14,0.0,0.0,NaN,NaN,2020,2,14,4,3.0
46,2020-02-15,0.0,0.0,NaN,NaN,2020,2,15,5,3.0
47,2020-02-16,0.0,0.0,NaN,NaN,2020,2,16,6,3.0
48,2020-02-17,0.0,0.0,NaN,NaN,2020,2,17,0,3.0
49,2020-02-18,0.0,0.0,NaN,NaN,2020,2,18,1,3.0
50,2020-02-19,0.0,0.0,NaN,NaN,2020,2,19,2,3.0
51,2020-02-20,0.0,0.0,NaN,NaN,2020,2,20,3,3.0
52,2020-02-21,0.0,0.0,NaN,NaN,2020,2,21,4,3.0
53,2020-02-22,14.0,0.0,NaN,NaN,2020,2,22,5,17.0
54,2020-02-23,62.0,2.0,NaN,NaN,2020,2,23,6,79.0
55,2020-02-24,53.0,0.0,NaN,NaN,2020,2,24,0,132.0
56,2020-02-25,97.0,4.0,NaN,NaN,2020,2,25,1,229.0
57,2020-02-26,93.0,5.0,NaN,NaN,2020,2,26,2,322.0
58,2020-02-27,78.0,1.0,NaN,NaN,2020,2,27,3,400.0
59,2020-02-28,250.0,5.0,NaN,NaN,2020,2,28,4,650.0
60,2020-02-29,238.0,4.0,NaN,NaN,2020,2,29,5,888.0
61,2020-03-01,240.0,8.0,NaN,NaN,2020,3,1,6,1128.0
62,2020-03-02,561.0,6.0,NaN,NaN,2020,3,2,0,1689.0
63,2020-03-03,347.0,17.0,NaN,NaN,2020,3,3,1,2036.0
64,2020-03-04,466.0,28.0,NaN,NaN,2020,3,4,2,2502.0
65,2020-03-05,587.0,27.0,NaN,NaN,2020,3,5,3,3089.0
66,2020-03-06,769.0,41.0,NaN,NaN,2020,3,6,4,3858.0
67,2020-03-07,778.0,49.0,NaN,NaN,2020,3,7,5,4636.0
68,2020-03-08,1247.0,36.0,NaN,NaN,2020,3,8,6,5883.0
69,2020-03-09,1492.0,133.0,NaN,NaN,2020,3,9,0,7375.0
70,2020-03-10,1797.0,98.0,NaN,NaN,2020,3,10,1,9172.0
71,2020-03-11,977.0,167.0,NaN,NaN,2020,3,11,2,10149.0
72,2020-03-12,2313.0,196.0,NaN,NaN,2020,3,12,3,12462.0
73,2020-03-13,2651.0,189.0,NaN,NaN,2020,3,13,4,15113.0
74,2020-03-14,2547.0,252.0,NaN,NaN,2020,3,14,5,17660.0
75,2020-03-15,3497.0,173.0,NaN,NaN,2020,3,15,6,21157.0
76,2020-03-16,2823.0,370.0,NaN,NaN,2020,3,16,0,23980.0
77,2020-03-17,4000.0,347.0,NaN,NaN,2020,3,17,1,27980.0
78,2020-03-18,3526.0,347.0,NaN,NaN,2020,3,18,2,31506.0
79,2020-03-19,4207.0,473.0,NaN,NaN,2020,3,19,3,35713.0
80,2020-03-20,5322.0,429.0,NaN,NaN,2020,3,20,4,41035.0
81,2020-03-21,5986.0,625.0,NaN,NaN,2020,3,21,5,47021.0
82,2020-03-22,6557.0,795.0,NaN,NaN,2020,3,22,6,53578.0
83,2020-03-23,5560.0,649.0,NaN,NaN,2020,3,23,0,59138.0
84,2020-03-24,4789.0,601.0,NaN,NaN,2020,3,24,1,63927.0
85,2020-03-25,5249.0,743.0,NaN,NaN,2020,3,25,2,69176.0
86,2020-03-26,5210.0,685.0,NaN,NaN,2020,3,26,3,74386.0
87,2020-03-27,6153.0,660.0,NaN,NaN,2020,3,27,4,80539.0
88,2020-03-28,5959.0,971.0,NaN,NaN,2020,3,28,5,86498.0
89,2020-03-29,5974.0,887.0,NaN,NaN,2020,3,29,6,92472.0
90,2020-03-30,5217.0,758.0,NaN,NaN,2020,3,30,0,97689.0
91,2020-03-31,4050.0,810.0,NaN,NaN,2020,3,31,1,101739.0
92,2020-04-01,4053.0,839.0,NaN,NaN,2020,4,1,2,105792.0
93,2020-04-02,4782.0,727.0,NaN,NaN,2020,4,2,3,110574.0
94,2020-04-03,4668.0,760.0,NaN,NaN,2020,4,3,4,115242.0
95,2020-04-04,4585.0,764.0,NaN,NaN,2020,4,4,5,119827.0
96,2020-04-05,4805.0,681.0,NaN,NaN,2020,4,5,6,124632.0
97,2020-04-06,4316.0,527.0,NaN,NaN,2020,4,6,0,128948.0
98,2020-04-07,3599.0,636.0,NaN,NaN,2020,4,7,1,132547.0
99,2020-04-08,3039.0,604.0,NaN,NaN,2020,4,8,2,135586.0
100,2020-04-09,3836.0,540.0,NaN,NaN,2020,4,9,3,139422.0
101,2020-04-10,4204.0,612.0,NaN,NaN,2020,4,10,4,143626.0
102,2020-04-11,3951.0,570.0,NaN,NaN,2020,4,11,5,147577.0
103,2020-04-12,4694.0,619.0,NaN,NaN,2020,4,12,6,152271.0
104,2020-04-13,4092.0,431.0,NaN,NaN,2020,4,13,0,156363.0
105,2020-04-14,3153.0,564.0,NaN,NaN,2020,4,14,1,159516.0
106,2020-04-15,2972.0,604.0,NaN,NaN,2020,4,15,2,162488.0
107,2020-04-16,2667.0,578.0,NaN,NaN,2020,4,16,3,165155.0
108,2020-04-17,3786.0,525.0,NaN,NaN,2020,4,17,4,168941.0
109,2020-04-18,3493.0,575.0,NaN,NaN,2020,4,18,5,172434.0
110,2020-04-19,3491.0,480.0,NaN,NaN,2020,4,19,6,175925.0
111,2020-04-20,3047.0,433.0,7841.0,38.859839,2020,4,20,0,178972.0
112,2020-04-21,2256.0,454.0,28095.0,8.029899,2020,4,21,1,181228.0
113,2020-04-22,2729.0,534.0,44248.0,6.167510,2020,4,22,2,183957.0
114,2020-04-23,3370.0,437.0,37083.0,9.087722,2020,4,23,3,187327.0
115,2020-04-24,2646.0,464.0,95273.0,2.777282,2020,4,24,4,189973.0
116,2020-04-25,3021.0,420.0,38676.0,7.811046,2020,4,25,5,192994.0
117,2020-04-26,2357.0,415.0,24113.0,9.774810,2020,4,26,6,195351.0
118,2020-04-27,2324.0,260.0,26678.0,8.711298,2020,4,27,0,197675.0
119,2020-04-28,1739.0,333.0,37554.0,4.630665,2020,4,28,1,199414.0
120,2020-04-29,2091.0,382.0,38589.0,5.418643,2020,4,29,2,201505.0
121,2020-04-30,2086.0,323.0,41441.0,5.033662,2020,4,30,3,203591.0
122,2020-05-01,1872.0,285.0,43732.0,4.280618,2020,5,1,4,205463.0
123,2020-05-02,1965.0,269.0,31231.0,6.291825,2020,5,2,5,207428.0
124,2020-05-03,1900.0,474.0,27047.0,7.024809,2020,5,3,6,209328.0
125,2020-05-04,1389.0,174.0,22999.0,6.039393,2020,5,4,0,210717.0
126,2020-05-05,1221.0,195.0,32211.0,3.790631,2020,5,5,1,211938.0
127,2020-05-06,1075.0,236.0,37771.0,2.846099,2020,5,6,2,213013.0
128,2020-05-07,1444.0,369.0,13665.0,10.567142,2020,5,7,3,214457.0
129,2020-05-08,1401.0,274.0,45428.0,3.084001,2020,5,8,4,215858.0
130,2020-05-09,1327.0,243.0,36091.0,3.676817,2020,5,9,5,217185.0
131,2020-05-10,1083.0,194.0,31384.0,3.450803,2020,5,10,6,218268.0
132,2020-05-11,802.0,165.0,25823.0,3.105758,2020,5,11,0,219070.0
133,2020-05-12,744.0,179.0,39620.0,1.877839,2020,5,12,1,219814.0
134,2020-05-13,1402.0,172.0,37049.0,3.784178,2020,5,13,2,221216.0
135,2020-05-14,888.0,195.0,41131.0,2.158956,2020,5,14,3,222104.0
136,2020-05-15,992.0,262.0,39027.0,2.541830,2020,5,15,4,223096.0
137,2020-05-16,789.0,242.0,40657.0,1.940625,2020,5,16,5,223885.0
138,2020-05-17,875.0,153.0,33505.0,2.611551,2020,5,17,6,224760.0
139,2020-05-18,675.0,145.0,26101.0,2.586108,2020,5,18,0,225435.0
140,2020-05-19,451.0,99.0,40226.0,1.121165,2020,5,19,1,225886.0
141,2020-05-20,813.0,162.0,38617.0,2.105290,2020,5,20,2,226699.0
142,2020-05-21,665.0,161.0,40644.0,1.636158,2020,5,21,3,227364.0
143,2020-05-22,642.0,156.0,42987.0,1.493475,2020,5,22,4,228006.0
144,2020-05-23,652.0,130.0,42579.0,1.531271,2020,5,23,5,228658.0
145,2020-05-24,669.0,119.0,34206.0,1.955797,2020,5,24,6,229327.0
146,2020-05-25,531.0,50.0,20676.0,2.568195,2020,5,25,0,229858.0
147,2020-05-26,300.0,92.0,33944.0,0.883809,2020,5,26,1,230158.0
148,2020-05-27,397.0,78.0,37299.0,1.064372,2020,5,27,2,230555.0
149,2020-05-28,584.0,117.0,39838.0,1.465937,2020,5,28,3,231139.0
150,2020-05-29,593.0,70.0,38233.0,1.551016,2020,5,29,4,231732.0
151,2020-05-30,516.0,87.0,36051.0,1.431306,2020,5,30,5,232248.0
152,2020-05-31,416.0,111.0,28948.0,1.437060,2020,5,31,6,232664.0
153,2020-06-01,355.0,75.0,18053.0,1.966432,2020,6,1,0,233019.0
154,2020-06-02,178.0,60.0,25628.0,0.694553,2020,6,2,1,233197.0
155,2020-06-03,318.0,55.0,20035.0,1.587222,2020,6,3,2,233515.0
156,2020-06-04,321.0,71.0,27451.0,1.169356,2020,6,4,3,233836.0
157,2020-06-05,177.0,88.0,40470.0,0.437361,2020,6,5,4,234013.0
158,2020-06-06,518.0,85.0,34036.0,1.521918,2020,6,6,5,234531.0
159,2020-06-07,270.0,72.0,27894.0,0.967950,2020,6,7,6,234801.0
160,2020-06-08,197.0,53.0,16301.0,1.208515,2020,6,8,0,234998.0
161,2020-06-09,280.0,65.0,32200.0,0.869565,2020,6,9,1,235278.0
162,2020-06-10,283.0,79.0,37865.0,0.747392,2020,6,10,2,235561.0
163,2020-06-11,202.0,71.0,32991.0,0.612288,2020,6,11,3,235763.0
164,2020-06-12,379.0,53.0,37651.0,1.006613,2020,6,12,4,236142.0
165,2020-06-13,163.0,56.0,32880.0,0.495742,2020,6,13,5,236305.0
166,2020-06-14,346.0,78.0,29545.0,1.171095,2020,6,14,6,236651.0
167,2020-06-15,338.0,44.0,17463.0,1.935521,2020,6,15,0,236989.0
168,2020-06-16,301.0,26.0,27762.0,1.084216,2020,6,16,1,237290.0
169,2020-06-17,210.0,34.0,33957.0,0.618429,2020,6,17,2,237500.0
170,2020-06-18,328.0,43.0,32921.0,0.996325,2020,6,18,3,237828.0
171,2020-06-19,331.0,66.0,28570.0,1.158558,2020,6,19,4,238159.0
172,2020-06-20,342.0,47.0,29875.0,1.144770,2020,6,20,5,238501.0
173,2020-06-21,264.0,49.0,24581.0,1.074000,2020,6,21,6,238765.0
174,2020-06-22,224.0,24.0,16152.0,1.386825,2020,6,22,0,238989.0
175,2020-06-23,221.0,23.0,23225.0,0.951561,2020,6,23,1,239210.0
176,2020-06-24,113.0,18.0,30237.0,0.373714,2020,6,24,2,239323.0
177,2020-06-25,577.0,-31.0,29421.0,1.961184,2020,6,25,3,239900.0
178,2020-06-26,296.0,34.0,28331.0,1.044792,2020,6,26,4,240196.0
179,2020-06-27,255.0,30.0,29721.0,0.857979,2020,6,27,5,240451.0
180,2020-06-28,175.0,8.0,21183.0,0.826134,2020,6,28,6,240626.0
181,2020-06-29,174.0,22.0,15484.0,1.123741,2020,6,29,0,240800.0
182,2020-06-30,126.0,6.0,28471.0,0.442556,2020,6,30,1,240926.0
183,2020-07-01,142.0,23.0,29325.0,0.484228,2020,7,1,2,241068.0
184,2020-07-02,182.0,21.0,29147.0,0.624421,2020,7,2,3,241250.0
185,2020-07-03,201.0,30.0,25680.0,0.782710,2020,7,3,4,241451.0
186,2020-07-04,223.0,15.0,28946.0,0.770400,2020,7,4,5,241674.0
187,2020-07-05,235.0,21.0,21166.0,1.110271,2020,7,5,6,241909.0
188,2020-07-06,192.0,7.0,13771.0,1.394234,2020,7,6,0,242101.0
189,2020-07-07,208.0,8.0,22490.0,0.924855,2020,7,7,1,242309.0
190,2020-07-08,137.0,30.0,28679.0,0.477701,2020,7,8,2,242446.0
191,2020-07-09,193.0,15.0,29947.0,0.644472,2020,7,9,3,242639.0
192,2020-07-10,214.0,12.0,27251.0,0.785292,2020,7,10,4,242853.0
193,2020-07-11,276.0,12.0,25449.0,1.084522,2020,7,11,5,243129.0
194,2020-07-12,188.0,7.0,23061.0,0.815229,2020,7,12,6,243317.0
195,2020-07-13,234.0,9.0,14006.0,1.670713,2020,7,13,0,243551.0
196,2020-07-14,169.0,13.0,24222.0,0.697713,2020,7,14,1,243720.0
197,2020-07-15,114.0,17.0,28392.0,0.401522,2020,7,15,2,243834.0
198,2020-07-16,162.0,13.0,28089.0,0.576738,2020,7,16,3,243996.0
199,2020-07-17,230.0,20.0,28661.0,0.802484,2020,7,17,4,244226.0
200,2020-07-18,231.0,11.0,27569.0,0.837898,2020,7,18,5,244457.0
201,2020-07-19,249.0,14.0,20621.0,1.207507,2020,7,19,6,244706.0
202,2020-07-20,218.0,3.0,14121.0,1.543800,2020,7,20,0,244924.0
203,2020-07-21,190.0,13.0,23915.0,0.794480,2020,7,21,1,245114.0
204,2020-07-22,128.0,15.0,29288.0,0.437039,2020,7,22,2,245242.0
205,2020-07-23,280.0,9.0,33018.0,0.848022,2020,7,23,3,245522.0
206,2020-07-24,306.0,10.0,28970.0,1.056265,2020,7,24,4,245828.0
207,2020-07-25,252.0,5.0,28059.0,0.898108,2020,7,25,5,246080.0
208,2020-07-26,274.0,5.0,25177.0,1.088295,2020,7,26,6,246354.0
209,2020-07-27,254.0,5.0,19374.0,1.311035,2020,7,27,0,246608.0
210,2020-07-28,168.0,5.0,25341.0,0.662957,2020,7,28,1,246776.0
211,2020-07-29,202.0,11.0,30875.0,0.654251,2020,7,29,2,246978.0
212,2020-07-30,288.0,6.0,33396.0,0.862379,2020,7,30,3,247266.0
213,2020-07-31,382.0,3.0,29686.0,1.286802,2020,7,31,4,247648.0
214,2020-08-01,379.0,9.0,31905.0,1.187902,2020,8,1,5,248027.0
215,2020-08-02,295.0,5.0,24496.0,1.204278,2020,8,2,6,248322.0
216,2020-08-03,238.0,8.0,13467.0,1.767283,2020,8,3,0,248560.0
217,2020-08-04,159.0,12.0,23491.0,0.676855,2020,8,4,1,248719.0
218,2020-08-05,190.0,5.0,29739.0,0.638892,2020,8,5,2,248909.0
219,2020-08-06,384.0,10.0,32169.0,1.193696,2020,8,6,3,249293.0
220,2020-08-07,401.0,6.0,30392.0,1.319426,2020,8,7,4,249694.0
221,2020-08-08,552.0,3.0,26631.0,2.072772,2020,8,8,5,250246.0
222,2020-08-09,347.0,13.0,22773.0,1.523734,2020,8,9,6,250593.0
223,2020-08-10,463.0,2.0,10904.0,4.246148,2020,8,10,0,251056.0
224,2020-08-11,259.0,4.0,22063.0,1.173911,2020,8,11,1,251315.0
225,2020-08-12,412.0,6.0,27330.0,1.507501,2020,8,12,2,251727.0
226,2020-08-13,476.0,10.0,25629.0,1.857271,2020,8,13,3,252203.0
227,2020-08-14,522.0,6.0,24868.0,2.099083,2020,8,14,4,252725.0
228,2020-08-15,574.0,3.0,25937.0,2.213055,2020,8,15,5,253299.0
229,2020-08-16,629.0,158.0,22470.0,2.799288,2020,8,16,6,253928.0
230,2020-08-17,477.0,4.0,21379.0,2.231161,2020,8,17,0,254405.0
231,2020-08-18,320.0,4.0,32687.0,0.978982,2020,8,18,1,254725.0
232,2020-08-19,401.0,5.0,41290.0,0.971179,2020,8,19,2,255126.0
233,2020-08-20,642.0,7.0,49662.0,1.292739,2020,8,20,3,255768.0
234,2020-08-21,840.0,6.0,44943.0,1.869034,2020,8,21,4,256608.0
235,2020-08-22,947.0,9.0,46613.0,2.031622,2020,8,22,5,257555.0
236,2020-08-23,1071.0,3.0,47463.0,2.256495,2020,8,23,6,258626.0
237,2020-08-24,1209.0,7.0,33358.0,3.624318,2020,8,24,0,259835.0
238,2020-08-25,953.0,4.0,45798.0,2.080877,2020,8,25,1,260788.0
239,2020-08-26,876.0,4.0,58054.0,1.508940,2020,8,26,2,261664.0
240,2020-08-27,1366.0,13.0,57640.0,2.369882,2020,8,27,3,263030.0
241,2020-08-28,1409.0,5.0,65135.0,2.163200,2020,8,28,4,264439.0
242,2020-08-29,1460.0,9.0,64294.0,2.270818,2020,8,29,5,265899.0
243,2020-08-30,1444.0,1.0,53541.0,2.696999,2020,8,30,6,267343.0
244,2020-08-31,1365.0,4.0,42583.0,3.205505,2020,8,31,0,268708.0
245,2020-09-01,996.0,6.0,54395.0,1.831051,2020,9,1,1,269704.0
246,2020-09-02,975.0,8.0,NaN,NaN,2020,9,2,2,270679.0
247,2020-09-03,1326.0,6.0,NaN,NaN,2020,9,3,3,272005.0

In [253]:
covid_df_copy['Total death']=covid_df_copy["new_deaths"].cumsum()

In [255]:
covid_df_copy.head()

,date,new_cases,new_deaths,new_tests,positivity rate,year,month,day,weekday,Total cases,Total death
0,2019-12-31,0.0,0.0,NaN,NaN,2019,12,31,1,0.0,0.0
1,2020-01-01,0.0,0.0,NaN,NaN,2020,1,1,2,0.0,0.0
2,2020-01-02,0.0,0.0,NaN,NaN,2020,1,2,3,0.0,0.0
3,2020-01-03,0.0,0.0,NaN,NaN,2020,1,3,4,0.0,0.0
4,2020-01-04,0.0,0.0,NaN,NaN,2020,1,4,5,0.0,0.0